<div style="width: 100%;margin:0 auto;background: black;height: 40px"></div>
<div style="width: 100%;margin: 0 auto">
    <div style="width: 250px;margin-top: 47px;margin-left:45px;position: absolute;float: left">
        <div id="main_mune">
            <ul onclick="ChangeMenu(this)">
                <li role="presentation" class="active"><a href="#">主机管理</a></li>
                <ul class="child_mune">
                    <li><a href="/hosts.html">主机列表</a></li>
                    <li><a href="/managerGroup.html">用户管理</a></li>
                    <li><a>分组管理</a></li>
                </ul>
            </ul>
            <ul onclick="ChangeMenu(this)">
                <li role="presentation"><a href="#">CMDB</a></li>
                <ul class="child_mune hide">
                    <li><a>项目一</a></li>
                    <li><a>项目二</a></li>
                </ul>
            </ul>
            <ul onclick="ChangeMenu(this)">
                <li role="presentation"><a href="#">资产管理</a></li>
                <ul class="child_mune hide">
                    <li><a>项目一</a></li>
                    <li><a>项目二</a></li>
                </ul>
            </ul>
            <ul onclick="ChangeMenu(this)">
                <li role="presentation"><a href="#">发布系统</a></li>
                <ul class="child_mune hide">
                    <li><a>项目一</a></li>
                    <li><a>项目二</a></li>
                </ul>
            </ul>
            <ul onclick="ChangeMenu(this)">
                <li role="presentation"><a href="#">数据平台</a></li>
                <ul class="child_mune hide">
                    <li><a>项目一</a></li>
                    <li><a>项目二</a></li>
                </ul>
            </ul>
        </div>
    </div>


</div>